<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online-Game | Register</title>
    <link rel="stylesheet" href="../public/styles/register.css">
</head>
<body>
    <div id="flex-container">
        <section>
            <h1>REGISTER</h1>
            <form action="/register" method="post">
                <p>
                    <input type="text" placeholder="USERNAME" name="username" id="username" maxlength="32" required">
                </p>

                <p>
                    <input type="password" placeholder="PASSWORD" name="password" id="password" required>
                </p>

                <p>
                    <input type="text" placeholder="NICKNAME" name="nickname" id="nickname" maxlength="16" required pattern="[A-Za-z]{1,16}">
                </p>

                <p>
                    <button type="submit" id="register">CREATE</button>
                </p>
            </form>
            <p id="voltar-link"><a href="/">⇦ Voltar..</a></p>
        </section>
    </div>
</body>
</html>